.title__wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
}

.intro__board{
    padding-bottom: 70px;
}

.title__details{
    font-size: 30px;
}
.additional{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (max-width: 1150px) {
    .title__details {
            font-size: 25px;
    }
}
@media screen and (max-width: 500px) {
    .title__details {
        font-size: 20px;
    }
    .additional p{
        font-size: 14px;
    }
}

